@font-face {
    font-family: "Ubuntu-Light";
    src: url(../fonts/Ubuntu/Ubuntu-Light.ttf);
}
@font-face {
    font-family: "Ubuntu-Medium";
    src: url(../fonts/Ubuntu/Ubuntu-Medium.ttf);
}
@font-face {
    font-family: "Ubuntu";
    src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
}
body {
    margin: 0;
    background-color: #f4f4f4;
}



.navbar {
    padding: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 2px rgba(0, 0, 0, 0.050);
    border-bottom: 2px solid rgb(218, 218, 218);
}
.logo-box {
    display: flex;
    align-items: center;
}
.logo-text {
    margin-left: 6px;
    font-family: "Ubuntu-Light";
    font-size: 34px;
    text-decoration: none;
    color: #303030;
}
.logo-text:hover {
    color: black;
}
.nav-box {
    align-items: center;
    display: flex;
}
.nav-link {
    text-decoration: none;
    color: #5a5a5a;
    background-color: white;
}
.nav-link-title {
    font-family: "Ubuntu-Medium";
    font-size: 15px;
}
.nav-link-text {
    font-family: "Ubuntu-Light";
    font-size: 12px;
}
.active, .nav-link:hover {
    background-color: #f4f4f4;
    color: black;
}
.search-input {
    border-radius: 5px 0px 0px 5px;
    padding: 10px 15px;
    border: 1px solid #cfcfcf;
}
.search-btn {
    margin-left: -6px;
    border: 1px solid #cfcfcf;
    border-radius: 0px 5px 5px 0px;
    padding: 10px 15px;
    background-color: #5db2d2;
    transition: .4s;
}




.section {
    padding: 0px 150px;
}
.carousel {
    margin: auto;
    margin-top: 40px;
}
.carousel-control-prev-icon {
    border: 1px solid #3c97b8;
    border-radius: 5px;
    background-color: #41a3c7;
}
.carousel-control-next-icon {
    border: 1px solid #3c97b8;
    border-radius: 5px;
    background-color: #41a3c7;
}
.section-icons {
    text-align: center;
}
.section-img {
    margin-top: -900px;
    
}
.plus {
    margin-top: -900px;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.1);
}
.section-title {
    text-shadow: 0px 3px rgba(0, 0, 0, 0.1);
    font-family: "Ubuntu-Light";
    font-size: 54px;
}
.section-text {
    color: black;
    font-family: "Ubuntu-Light";
}
.section-button-box {
    margin-top: 30px;
    justify-content: center;
    display: flex;
    align-self: center;
}
.section-btn-text, .form-btn-text {
    color: white;
    font-family: "Ubuntu-Medium";
    padding: 8px 15px;
    background-color: #66bcdc;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #5aa5c1;
}
.section-btn, .form-btn {
    color: white;
    padding: 8px 15px;
    background-color: #4198c0;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #438eb1;
    height: 42px;
    transition: .4s;
}
.section-btn:hover, .form-btn:hover, .search-btn:hover {
    background-color: #4386a5;
}
.main-name-text, .article-main-text {
    font-family: "Ubuntu-Light";
    font-size: 42px;
    text-align: center;
}
.second-block {
    justify-content: space-between;
    display: flex;
}
.card {
    margin-left: 20px;
    box-shadow: 0px 3px 0px rgb(224, 224, 224);

}
.fru {
    margin-left: 0;
}
.card-body {
    text-align: center;
}
.card-text {
    color: #8c8c8c;
}
.card-mini-btns {
    justify-content: center;
    margin-bottom: 20px;
    display: flex;
}
.camera {
    margin-right: 10px;
    background-color: #ac80d6;
    border: 1px solid #9b73c1;
    border-radius: 5px;
    padding: 10px;
    width: 50px;
}
.arrow {
    background-color: #67bddd;
    border: 1px solid #5daac7;
    border-radius: 5px;
    padding: 10px;
    width: 50px;
}




.article {
    padding: 20px 0px;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0px 3px 0px rgb(224, 224, 224);
}
.features-container {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 350px);
}
.features-card {
    padding: 20px;
    width: 355px;
    display: flex;
}
.features-txt-box {
    margin-left: 20px;
}
.features-title {
    font-family: "Ubuntu-Medium";
    font-size: 18px;
}
.features-text {
    padding: 0px 20px 0px 0px;
    border-right: 1px solid rgb(192, 192, 192);
    font-family: "Ubuntu";
    font-size: 14px;
    color: #8c8c8c;
}
.features-btn {
    color: white;
    font-size: 12px;
    font-family: "Ubuntu-Medium";
    padding: 8px 15px;
    background-color: #51a7c7;
    border-radius: 5px;
    border: 1px solid #488399;
    transition: .3s;
}
.features-btn:hover {
    background-color: #337f9b;
}






.article-1 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.tabs-contents {
    width: 40rem;
}
.tab-content {
    width: 40rem;
}
.nav-tabs {
    font-family: "Ubuntu-Medium";
}
.title-article-1 {
    font-size: 24px;
}
.text-article-1 {
    margin-top: -10px;
    color: #8c8c8c;
    font-size: 14px;
}







.top-foot {
    display: flex;
    justify-content: space-between;
    padding: 20px 350px;
    background-color: rgb(233, 233, 233);
    box-shadow: 0px 3px 0px rgb(224, 224, 224);
}
.top-foot-img-box {
    display: flex;
    align-items: center;
}
.top-foot-img-name {
    margin-left: 10px;
    margin-top: 10px;
    font-size: 26px;
    color: #a0a0a0;
}
.contact-inf {
    margin-left: 20px;
    margin-top: 20px;
}
.phone-box, .address-box {
    margin-top: 20px;
}
.mail-name {
    margin-left: 10px;
    color: #65bbdb;
    font-size: 19px;
}
.phone-name, .address-name {
    margin-left: 10px;
    font-size: 19px;
    text-decoration: none;
    color: #444444;
}
.foot-form {
    display: grid;
}
.name, .message {
    width: 300px;
    padding: 8px 10px;
    font-size: 13px;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
}
.message {
    margin-top: 10px;
    margin-bottom: 15px;
    height: 110px;
}
.form-button-box {
    display: flex;
    align-self: center;
}
.form-btn-text {
    font-size: 13px;
}
.form-btn {
    font-size: 13px;
    height: 37px;
}
.bottom-foot {
    align-items: center;
    padding: 20px 350px;
    display: flex;
    justify-content: space-between;
}
.bottom-foot-01, .foot-02-link {
    padding: 5px 20px;
    border-right: 1px solid rgb(165, 165, 165);
    color: #787878;
    text-decoration: none;
    transition: .3s;
}
.bottom-foot-01 {
    font-size: 13px;
}
.foot-02-link {
    font-size: 15px;
    font-family: "Ubuntu-Medium";
    color: #444444;
}
.foot-03-img-link {
    text-decoration: none;
}
.img-03 {
    transition: .4s;
}
.img-03:hover {
    box-shadow: 0px 2px 10px gray;
}
.bottom-04-title {
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid #5aa5c1;
    padding: 7px 10px;
    color: white;
    background-color: #5eb4d4;
    font-size: 18px;
    transition: .4s;
}
.bottom-04-title:hover {
    color: white;
    box-shadow: 0px 2px 10px gray;
}




@media screen and (max-width: 1440px) {
    .top-foot {
        padding: 20px 250px;
    }
    .bottom-foot {
        padding: 20px 250px;
    }
}
@media screen and (max-width: 1024px) {
    .bottom-foot {
        padding: 20px 100px;
    }
    .top-foot {
        padding: 20px 100px;
    }
    .features-container {
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(2, 350px);
    }
    .nonch {
        border-right: none;
    }
    .article-1 {
        display: grid;
    }
    .article-1-right {
        margin-top: 30px;
    }
    .section-title {
        font-size: 60px;
    }
    .section-text {
        font-size: 16px;
    }
}
@media screen and (max-width: 768px) {
    .top-foot {
        padding: 20px 50px;
    }
    .bottom-foot {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        text-align: center;
    }
    .navbar {
        text-align: center;
        display: grid;
        padding: 10px 0px 20px 0px;
    }
    .logo-box {
        margin: auto;
        margin-bottom: 10px;
    }
    .card-title {
        font-size: 16px;
    }
    .card-text {
        font-size: 10px;
    }
    .section-title {
        font-size: 30px;
    }
    .section-text {
        font-size: 12px;
    }
    .features-container {
        display: grid;
        grid-template-columns: repeat(1, 350px);
    }
    .features-text {
        border-right: none;
    }
    .second-block {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 20px;
    }
    .card {
        margin-left: 0px;
    }
}
@media screen and (max-width: 425px) {
    .top-foot {
        display: block;
    }
    .bottom-foot {
        padding: 20px 0px;
    }
    .foot-02-link {
    padding: 5px 10px;
    }
    .top-right-foot {
        margin-bottom: 50px;
    }
    .section {
        padding: 0px 20px;
    }
    .carousel {
        display: none;
    }
    .main-name-text {
        margin-top: 20px;
        font-size: 30px;
    }
    .second-block {
        display: grid;
        grid-template-columns: repeat(1, 290px);
    }
    .features-img-box-a {
        display: none;
    }
    .tabs-contents {
        width: 26rem;
    }
    .tab-content {
        width: 26rem;
    }
    .features-img {
        display: none;
    }
}